<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Voltstro</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li>
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>
                <li>
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li>
                    <a class="nav-link" href="/projects/">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>