@page "/blog/"
@using VoltWeb.Data
@inject BlogService BlogService;

<PageTitle>Blog</PageTitle>

<div class="card hero">
    <img src="/assets/Banner1.jpg" alt="Background" class="card-img" />
    <div class="card-img-overlay">
        <h1 class="card-title">Blog</h1>
        <p class="card-text">The Voltstro blog. I write stuff whenever I feel like it.</p>
    </div>
</div>

<h2 class="pt-3">Posts</h2>
<p>Something something</p>

@foreach ( VoltWeb.Models.Blog blog in blogs)
{
    <a href="@($"/blog/{blog.PostDate.Year}/{blog.PostDate.Month}/{blog.PostDate.Day}/{blog.Id}/")">@blog.Title</a>
}

@code {

    private VoltWeb.Models.Blog[] blogs;
    
    protected override void OnInitialized()
    {
        blogs = BlogService.GetBlogPosts();
    }

}