@page "/blog/"

<PageTitle>Blog</PageTitle>

<div class="card hero">
    <img src="/assets/Banner1.jpg" alt="Background" class="card-img" />
    <div class="card-img-overlay">
        <h1 class="card-title">Blog</h1>
        <p class="card-text">The Voltstro blog. I write stuff whenever I feel like it.</p>
    </div>
</div>

<h2 class="pt-3">Posts</h2>
<p>Something something</p>

